body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

#container {
    width: 20%;
    height: 10%;
    padding: 20px;
    
}

